.logo {
    font-family: Raleway;
    font-weight: 700;
    color: #2196F3;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
nav a {
    font-family: Roboto;
    font-weight: 500;
}
p {
    font-family: Roboto;
    font-weight: 400;
}
h1 {
    font-family: Roboto;
    font-weight: 700;
    color: #212121;
}





